.caja{
    background-color: blueviolet;
    width: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 3px solid #a00e0e;
    border-radius: 5px;
    font-size: 18px;
}
.titulo {
    font-size: 36px;
}

#lista li {
    text-decoration: underline;
}
.tarjeta{
    width: 250px;
    background-color: blueviolet;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;

}
.tarjeta button{
    border: none;
    border-radius: 5px;
}